.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

charts/*.tgz

*.log

rendered.yaml

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tar

node_modules/

__pycache__/
*.pyc
venv/
.env

*.env
*.secret
secrets.yaml
